<div class="card p-2 mt-3 d-flex justify-content-between">
  <span>
    <strong>Position: </strong> {{job.title}}
  </span>

  <span>
    <strong>Company: </strong> {{job.company}}
  </span>

  <span>
    <strong>Location: </strong> {{job.location}}
  </span>

  <span>
    <strong>Date Posted: </strong> {{job.datePosted}}
  </span>

  <span>
    <strong>Job Type: </strong> {{job.jobType}}
  </span>


  <div class="d-flex justify-content-between">
    <button type="button" class="mt-2 btn btn-outline-primary">View Job Details</button>
    <button type="button" class="mt-2 btn btn-primary">Apply</button>
  </div>

</div>
