<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li (click)="jobsService.goToPreviousPage()" class="page-item">
      <span  class="page-link" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </span>
    </li>
    @for (item of jobsService.totalPages(); track $index) {
      <li (click)="jobsService.goToPage(item)" class="page-item" [ngClass]="item === jobsService.currentPage() ? 'active' : ''"><span class="page-link">{{item}}</span></li>
    }

    <li (click)="jobsService.goToNextPage()" class="page-item">
      <span class="page-link" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </span>
    </li>
  </ul>
</nav>
