.header-container{
  padding: 10px 5% 0 5%;
}

.form-control{
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  outline: 0;
  width: 100%;
}

.form-control:focus{
  outline: none;
  border:none;
}

.btn{
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 16px;
}

.reset-btn-container .btn{
  border-top-left-radius: unset;
  border-bottom-left-radius: unset;
  margin-left: 20px;
  border-radius: 10px;
  margin-bottom: 5px;
}